# Symfony specific
/var/
/vendor/
/bin/
/build/
/public/bundles/
/public/build/
/public/uploads/
/.env.local
/.phpunit.result.cache

# Composer
/composer.phar

# Editor/IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
